* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



#page-container {
    height: 50%;
    width: 100%;
    flex-basis: 05%;
}

button {
    height:auto;
    width: auto;
    float-wrap: wrap;
    padding: 5px 10px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    border-color: lightgrey;
    mso-border-shadow: yes;
    box-shadow: #cccccc;
    border-radius: 10px;
}

#button-1e{
    color: black;
    background-color: Red;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-1n{
    color: black;
    background-color: yellow;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-1b{
    background-color: lawngreen;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-2e{
    color: black;
    background-color: Red;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-2n{
    color: black;
    background-color: yellow;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-2b{
    background-color: lawngreen;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-1n{
    color: black;
    background-color: yellow;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-1b{
    background-color: lawngreen;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-2e{
    color: black;
    background-color: Red;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-2n{
    color: black;
    background-color: yellow;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-2b{
    background-color: lawngreen;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-3e{
    color: black;
    background-color: Red;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-3n{
    color: black;
    background-color: yellow;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-3b{
    background-color: lawngreen;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-4e{
    color: black;
    background-color: Red;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-4n{
    color: black;
    background-color: yellow;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-4b{
    background-color: lawngreen;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-5e{
    color: black;
    background-color: Red;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-5n{
    color: black;
    background-color: yellow;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-5b{
    background-color: lawngreen;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#card-container{
    width: 15px;
    height: 5%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 10px;
    padding: 1px;
    flex-basis: 95%;
    flex-shrink: inherit;

}



h1{
    color: black;
    font-size: 30px;
    margin-left: 30px;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;

}

h2{
    font-size: 30px;
    color: black;
    justify-content: center;
    align-items: center;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

h3{
    font-size: 30px;
    color: black;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

h5{
    font-size: 15px;
    background-size: 15px;
    color: steelblue;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

.project-container {
    background-image: url("https://i.etsystatic.com/25331299/r/il/3629ec/2553299124/il_570xN.2553299124_nhrn.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 1500px;  /* You must set a specified height */
    width: 100%;
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    padding: 25px;
    flex-basis: 100%;
    align-items: flex-start;

}

h6 {
    padding: 1px;
    margin: 1px;
}


