* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



#page-container {
    height: 50%;
    width: 100%;
    flex-basis: 05%;
    background-size: 50%;
}

button {
    height:100%;
    width: 100%;
    font-size: 100%;
    cursor: pointer;
    margin: 5%;
    border: 2px solid;
    border-radius: 25%;
    padding: 1%;



}

#button-1e{
    color: black;
    background-color: Red;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-1n{
    color: black;
    background-color: yellow;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-1b{
    background-color: lawngreen;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-2e{
    color: black;
    background-color: Red;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-2n{
    color: black;
    background-color: yellow;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-2b{
    background-color: lawngreen;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-1n{
    color: black;
    background-color: yellow;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-1b{
    background-color: lawngreen;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-2e{
    color: black;
    background-color: Red;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-2n{
    color: black;
    background-color: yellow;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-2b{
    background-color: lawngreen;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-3e{
    color: black;
    background-color: Red;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-3n{
    color: black;
    background-color: yellow;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-3b{
    background-color: lawngreen;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-4e{
    color: black;
    background-color: Red;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-4n{
    color: black;
    background-color: yellow;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-4b{
    background-color: lawngreen;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-5e{
    color: black;
    background-color: Red;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-5n{
    color: black;
    background-color: yellow;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#button-5b{
    background-color: lawngreen;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#card-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    margin-left: 20px;
    flex-basis: 100%;

}



h1{
    color: black;
    font-size: 100%;
    margin-left: 30px;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;

}

h2{
    font-size: 100%;
    color: black;
    justify-content: center;
    align-items: center;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

h3{
    font-size: 100%;
    color: black;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

h5{
    font-size: 15px;
    background-size: 15px;
    color: steelblue;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

.project-container {
    background-image: url("https://i.etsystatic.com/25331299/r/il/3629ec/2553299124/il_570xN.2553299124_nhrn.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: auto;  /* You must set a specified height */
    width: auto;
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    padding: 25px;
    border: 5px red solid;
    flex-basis: 100%;
    align-items: flex-start;

}


img.user-image{
    width: 75px;
    height: 75px;
    object-fit: fill;

}


